/* font import link */
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

/* universal style */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

/* shared style */

.btn-color {
  background-color: #30b868;
  color: #fff;
  font-size: 16px;
  padding: 13px 16px;
  border-radius: 4px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border: none;
  font-weight: 600;
}

.btn-color:hover {
  background-color: transparent;
  color: #fff;
  border: 3px solid #fff;
  transition: all 0.3s ease-in;
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -ms-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
}

/* hover effect 2 */

.hover-2:hover {
  background-color: #052b4e;
}

/* nav-bar style */
nav {
  width: 85%;
  max-width: 1360px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;

  > .logo {
    padding: 16px 0px;
  }

  > .links {
    display: flex;
    gap: 50px;

    li {
      list-style: none;

      a {
        text-decoration: none;
        color: black;
      }
    }
  }
}

/* banner section style starts here */
.banner {
  background: linear-gradient(#00193150, #05a1ac36), url("./assets/hero-bg.png");
  background-size: cover;
  min-height: 650px;
  display: flex;
  justify-content: center;
  align-items: center;

  > .banner-content {
    display: flex;
    flex-direction: column;
    align-items: center;

    .early-access {
      margin-bottom: 16px;

      .btn {
        color: #30b868;
        font-size: 16px;
        padding: 8px 12px;
        border-radius: 100px;
        -webkit-border-radius: 100px;
        -moz-border-radius: 100px;
        -ms-border-radius: 100px;
        -o-border-radius: 100px;
        border: none;
        display: flex;
        align-items: center;
        gap: 6px;
      }
    }

    .textutal-part {
      text-align: center;
      margin-bottom: 30px;

      h1 {
        color: white;
        font-size: 72px;
        max-width: 800px;
        font-weight: bold;
        margin-bottom: 16px;

        span {
          color: #30b868;
        }
      }

      p {
        font-size: 18px;
        color: #fff;
        font-weight: 300;
        line-height: 30px;
      }
    }

    .btn-part {
      display: flex;
      gap: 16px;

      .btn {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;
      }

      .btn-2 {
        border: 3px solid #fff;
        background-color: transparent;

        img {
          width: 20px;
        }

        &:hover {
          background-color: #30b868;
          border: 2px solid #30b868;
        }
      }
    }
  }
}

/* card section style */
#card-section {
  display: flex;
  justify-content: center;
  background-color: #fbfbfb;

  > .card-container {
    width: 85%;
    max-width: 1360px;

    .heading-part {
      text-align: center;
      margin-bottom: 40px;

      h2 {
        font-size: 48px;
        color: #001931;
        margin: 60px 0 16px;
      }

      p {
        font-size: 16px;
        color: #627382;
      }
    }

    .card-combined {
      display: flex;
      gap: 24px;

      .card-individual {
        text-align: center;
        padding: 70px 24px;
        background-color: #fff;
        box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
          rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
        border-radius: 5px;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        -ms-border-radius: 5px;
        -o-border-radius: 5px;

        img {
          background-color: #f95555;
          padding: 13px 14px;
          border-radius: 50%;
          -webkit-border-radius: 50%;
          -moz-border-radius: 50%;
          -ms-border-radius: 50%;
          -o-border-radius: 50%;
        }

        h4 {
          font-size: 24px;
          font-weight: bold;
          margin: 16px 0;
        }

        p {
          font-size: 16px;
          color: #627382;
        }
      }
    }
  }
}

/* solution section style starts here */
#solution {
  > .container {
    width: 85%;
    max-width: 1360px;
    margin: 120px auto;
    font-size: 16px;
    display: flex;
    align-items: center;
    gap: 60px;

    .explaination {
      .head-part {
        margin-bottom: 40px;

        .topper {
          color: #30b868;
          font-weight: 500;
        }

        h2 {
          font-size: 48px;
          margin: 16px 0;
          font-weight: bold;
        }

        .subheading {
          max-width: 65%;
          color: #627382;
        }
      }

      ul {
        li {
          list-style: none;
          display: flex;
          gap: 6px;
          align-items: center;
          margin-bottom: 16px;
          font-weight: 500;
        }
      }
    }
  }
}

/* get early access section starts here  */
#access {
  > .container {
    width: 85%;
    max-width: 1360px;
    margin: 0 auto 120px;
    text-align: center;
    background-color: #f7f6f2;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    padding: 80px 40px;

    .head-part {
      margin-bottom: 24px;

      h2 {
        font-size: 40px;
        margin-bottom: 16px;
      }
      p {
        font-size: 16px;
        color: #627382;
        line-height: 24px;

        img {
          display: none;
        }
      }
    }
    .btn {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 10px;
      margin: 0 auto 16px; /*WHY THIS NEEDED*/
    }
    .section-foot {
      font-size: 16px;
      color: #627382;
    }
  }
}

/* footer style starts here */
footer {
  background-color: #001931;
  display: flex;
  justify-content: center;
  color: white;

  > .footer-content {
    width: 85%;
    max-width: 1360px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .logo-links {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin: 120px 0 80px;

      .icons {
        .links-head {
          font-size: 20px;
          font-weight: 500;
          margin-bottom: 16px;
        }

        ul {
          display: flex;
          gap: 16px;

          li {
            list-style: none;

            a {
              text-decoration: none;

              img {
                width: 20px;
              }
            }
          }
        }
      }
    }

    .copyright {
      border-top: 1px solid #fafafa6c;
      .copyright-text {
        text-align: center;
        font-size: 16px;
        padding: 30px 0;
      }
    }
  }
}

/* special hover effect */
